<!-- Used this video as a resource: https://www.youtube.com/watch?v=U8smiWQ8Seg -->
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1" />
  <link rel="stylesheet" href="nav.css"/>
  <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Sintony:wght@400;700&display=swap" rel="stylesheet">
  <script src="nav.js"></script>
</head>

<body>

  <nav id="navbar">
    <!--  vertical sidebar  -->
    <ul class="sidebar">
      <li class = "close" onclick="hideSidebar()"><button><svg xmlns="http://www.w3.org/2000/svg" height="24" fill = "hsl(var(--color-blue-dark))" viewBox="0 -960 960 960" width="24"><path d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z"/></svg></button></li>
      <li class = "home"><a href="/">EoL Home</a></li>
      <li class = "cs-at-andover"><a href="/cs-at-andover">CS@Andover</a></li>
      <li class = "about"><a href="/about-us">About Us</a></li>
    </ul>
  
<!--   horizontal menu   -->
    <ul>
      <li class = "logo"><a href="/"><svg width="100" height="70" viewBox="0 0 2232 2232" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M1076.27 427.647H22.7617V1934.69H1076.27V427.647Z" fill="#406B99"/>
<mask id="mask0_445_7" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="22" y="427" width="1055" height="1508">
<path d="M1076.26 427.645H22.7588V1934.69H1076.26V427.645Z" fill="white"/>
</mask>
<g mask="url(#mask0_445_7)">
<path d="M22.7588 427.645H1076.26V1933.8H22.7588V427.645Z" fill="#406B99"/>
</g>
<path d="M549.518 988.331V1286.08" stroke="white" stroke-width="26.784"/>
<path d="M595.943 1293.67L549.071 1353.04L502.199 1293.67H595.943Z" fill="white" stroke="white" stroke-width="26.784" stroke-linecap="round" stroke-linejoin="round"/>
<mask id="mask1_445_7" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="186" y="582" width="726" height="406">
<path d="M911.997 582.551H186.15V987.882H911.997V582.551Z" fill="white"/>
</mask>
<g mask="url(#mask1_445_7)">
<path d="M186.15 582.551H912.89V988.328H186.15V582.551Z" fill="white"/>
</g>
<path d="M1840.96 999.936V1297.68V999.936Z" fill="#406B99"/>
<path d="M1840.96 999.936V1297.68" stroke="#406B99" stroke-width="26.784"/>
<path d="M1887.83 1304.83L1840.95 1364.2L1794.53 1304.83H1887.83Z" fill="#406B99" stroke="#406B99" stroke-width="26.784" stroke-linecap="round" stroke-linejoin="round"/>
<mask id="mask2_445_7" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="186" y="1367" width="726" height="407">
<path d="M911.997 1367.77H186.15V1773.1H911.997V1367.77Z" fill="white"/>
</mask>
<g mask="url(#mask2_445_7)">
<path d="M186.15 1367.77H912.89V1773.1H186.15V1367.77Z" fill="white"/>
</g>
<path d="M2204.32 608.89H1478.48V1014.22H2204.32V608.89Z" fill="#406B99"/>
<mask id="mask3_445_7" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="1478" y="608" width="727" height="407">
<path d="M2204.32 608.888H1478.48V1014.22H2204.32V608.888Z" fill="white"/>
</mask>
<g mask="url(#mask3_445_7)">
<path d="M1478.48 608.888H2205.22V1014.67H1478.48V608.888Z" fill="#406B99"/>
</g>
<path d="M2204.32 1379.38H1478.48V1784.71H2204.32V1379.38Z" fill="#406B99"/>
<mask id="mask4_445_7" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="1478" y="1379" width="727" height="406">
<path d="M2204.32 1379.38H1478.48V1784.71H2204.32V1379.38Z" fill="white"/>
</mask>
<g mask="url(#mask4_445_7)">
<path d="M1478.48 1379.38H2205.22V1784.71H1478.48V1379.38Z" fill="#406B99"/>
</g>
<path d="M1390.09 775.397L1461.51 804.413L1412.41 861.999L1390.09 775.397Z" fill="#406B99" stroke="#406B99" stroke-width="26.784" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M1401.25 818.699C1339.2 839.68 1308.4 908.872 1282.51 976.725C1255.72 1046.36 1220.9 1115.56 1166 1155.28C1128.5 1182.52 1091.45 1185.64 1049.04 1177.16" stroke="#406B99" stroke-width="26.784"/>
</svg>
</a></li>
      <li class = "menu_item home"><a href="/">EoL Home</a></li>
      <li class = "menu_item cs-at-andover"><a href="/cs-at-andover">CS@Andover</a></li>
      <li class = "menu_item about"><a href="/about-us">About Us</a></li>
<!--    hamburger button shown only when screen less than 800px wide. Everything else is removed.   -->
      <li class = "hamburger" onclick="showSidebar()"><button><svg xmlns="http://www.w3.org/2000/svg" height="24" fill="hsl(var(--color-blue-dark))" viewBox="0 -960 960 960" width="24"><path d="M120-240v-80h720v80H120Zm0-200v-80h720v80H120Zm0-200v-80h720v80H120Z"/></svg></button></li>
    </ul>
  </nav>


</body>
      
