body{
  color: hsl(var(--color-dark));
  background-color: hsl(var(--color-light));
}

h1, button{
  color: hsl(var(--color-dark));
}

.text_container {
  margin: 5%;
/*   border: 3px solid black; */
}

.blurb {
  width: 65em;
  margin: 0 auto;
  max-width: 90%;
  font-family: "Sintony", sans-serif;
  width: 80%;
  line-height: 175%;
}

.blurb__header {
  font-family: "Prociono", sans-serif;
  font-size: 32px;
  margin-bottom: 1rem;
  margin-top: 2rem;
}

.blurb__text {
  font-family: "Sintony", sans-serif;
}

.blurb__list {
  font-family: "Sintony", sans-serif;
  margin: 1.5rem 0;
  margin-left: 4rem;
}

.throughline {
  display: flex;
  align-items: center;
  max-width: 70em;
  margin: 0 auto;
}

.human_communication {
  background-color: hsl(var(--color-green));
}

.working_with_code {
  background-color: hsl(var(--color-purple));
}

.research_and_design {
  background-color: hsl(var(--color-red));
}

.asking_questions {
  background-color: hsl(var(--color-yellow));
}

.working_with_systems {
  background-color: hsl(var(--color-pink));
}

.throughline_title {
  width: 20em;
  padding-left: 10%;
  padding-right: 5%;
  font-family: "Prociono", serif;
  font-weight: bold;
  color: hsl(var(--color-light));
  font-size: 28px;
  align-self: stretch;
  align-content: center;
}

.skills_column {
  list-style: none;
  width: 100%;
  border-left: solid darkgrey;
}

.skill button { 
  height: 100%;
  font-family: 'Sintony', sans-serif;
  font-size: 17px;
  color: hsl(var(--color-light));
  padding: .75em;
  padding-left: 2em;
  display: flex;
  align-items: center;
}

.skill {
  border-bottom: solid darkgrey;
}

.bottom_skill {
  border-bottom: none;
}

.hidden_text {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.3s ease;
}

.hidden_text p {
  font-family: "Sintony", sans-serif;
}

.skill_description {
  padding: .5em 4em 1em 3em;
  color: hsl(var(--color-light));
}

.visible {
  max-height: 1000;
}

.expandless {
  display: none;
}

.curriculum_map {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-bottom: 5%;
}

.courses_column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 5px;
  width: 32em;
}

.course_group {
  margin: 1em;
  border-radius: 5px;
  padding: 1em;
  text-align: left;
  background-color: hsl(var(--color-blue));
  color: hsl(var(--color-light));
}

.course_group h3 {
  font-size: 24px;
  font-family: "Prociono", serif;
}

.prerequisites {
  padding: 0.2em 0em;
}

.course_group p {
  font-family: 'Sintony', sans-serif;
  font-size: 15px;
}

.course_description {
  font-size: 14px;
  padding: .5em 2em 1em 1em;
}

.course_list {
  list-style-type: none;
  margin-left: 0.5em;
}

.course_list li{
  font-family: 'Sintony', sans-serif;
  font-size: 17px;
  padding: 0.3em;
  text-align: left;
  color: hsl(var(--color-light));
}

/* adjusting display for smaller viewing screen */
@media(max-width: 800px){
  .throughline{
    flex-direction: column;
  }
  .throughline_title{
    border-bottom: solid darkgrey;
    width: 100%;
    height: 3em;
  }
  .skills_column {
    border: none;
  }
  .skills_column p {
    padding: 2% 5%;
  }
}