body{
  background-color: #EDEEEE;
}
#intro_image {
  position: relative;
}

.intro_content {
  position: relative;
  z-index: 1;
}

.intro_section{
  background-color: pink;
  padding: 2rem;
}

.welcome{
  margin: 5%;
}

.welcome_text{
  margin: 1rem;
  margin-left: 20%;
  margin-right: 20%;
  font-size:16px;
  color: #042A2B;
  line-height: 180%;
  font-family: 'Sintony', sans-serif;
  font-weight: 400;
  font-size: 17px;
}

.welcome > *:first-child{
  margin-top: 5rem;
}
#search_button{
  display: block;
  margin: auto;
  background-color: #00319C;
  color: white;
  border: none;
  height: 10em;
  width: 20em;
  font-weight: bold;
  border-radius: 2em;
  margin-bottom: 1em;
  font-family: "Prociono", sans-serif;
}

#search_button:hover{
  background-color: #00247A;
  cursor: pointer;
}

.search_pop_up{
  display: none;
  margin: 0 auto;
  width: 80%;
}

.search_bar{
  display: flex;
  justify-content: center;
  background-color: white;
  align-items: center;
  border-radius: 0.5em;
  width: 97%;
  height: 2.5em;
  margin-left: 0%;
  margin-right: 0%;
  margin-top: 0.7%;
  margin-bottom: 0.7%;
  z-index: 2;
}

.search_bar_container{
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 0.3em;
  background-color: #00319C;
  z-index: 1;
}

#search_bar{
  height: 90%;
  width: 100%;
  margin-left: 2%;
  margin-right: 2%;
  background-color: transparent;
  border: none;
  font-size: 1.5em;
  font-family: "Sintony", sans-serif;
}

.search_section{
  display: flex;
  justify-content: center;
  align-items: center;
/*   border: 5px black solid; */
  padding-bottom: 1em;
}

.tag_section{
  display: flex;
  justify-content: space-between;
/*   border: 5px black solid; */
  height: 18em;
  
}

.search_text{
  font-family: "Prociono", sans-serif;
  color: white;
  font-size: 2rem;
}

.tag_type_list{
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
/*   border: 3px black solid; */
  width: 22%;
  background-color: #D9D9D9;
  z-index: 1;
}

.tag_type{
/*   border: 3px black solid; */
  width: 90%;
  height: 17%;
  border-radius: 0.5em;
  border: none;
  color: #9B9B9B;
  font-weight: bold;
  font-size: 1em;
  background-color: #F1F1F1;
  z-index: 2;
  font-family: "Sintony", sans-serif;
  overflow-x: scroll;
  padding: .5rem;
}

.tag_type:hover{
  background-color: #4f5250;
  cursor: pointer;
}

.tag_box{
  width: 45%;
  background-color: #D9D9D9;
  z-index: 5;
  overflow-y: scroll;
}

.tag {
  margin: 5px;
  padding: 8px 16px;
  background-color: #00319C;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-family: "Sintony", sans-serif;
}

.tag:hover {
  background-color: #00247A;
}

.tag.human_communication {
  background-color: #2772c2;
}

.tag.human_communication:hover {
  background-color: #1e5896;
}

.tag.working_with_code {
  background-color: #8c72ab;
}

.tag.working_with_code:hover {
  background-color: #7e659c;
}

.tag.research_and_design {
  background-color: #29993c;
}

.tag.research_and_design:hover {
  background-color: #2b873b;
}

.tag.working_with_systems {
  background-color: #bf9a32;
}

.tag.working_with_systems:hover {
  background-color: #9e7e28;
}

.tag.asking_questions {
  background-color: #a31f15;
}
.tag.asking_questions:hover {
  background-color: #851414;
}

#course_pop_up {
  display: none;
  position: relative;
  background-color: #D9D9D9;
  width: 31%;
  height: 100%;
  z-index: 5;
  left: calc(-1%);
  z-index: 3;
}

#skill_pop_up {
  display: none;
  position: relative;
  background-color: #D9D9D9;
  width: 31%;
  height: 100%;
  z-index: 5;
  left: calc(-1%);
  z-index: 3;
}

#level_pop_up {
  display: none;
  position: relative;
  background-color: #D9D9D9;
  width: 31%;
  height: 100%;
  z-index: 5;
  left: calc(-1%);
  z-index: 3;
}

#throughline_pop_up {
  display: none;
  position: relative;
  background-color: #D9D9D9;
  width: 31%;
  height: 100%;
  z-index: 5;
  left: calc(-1%);
  z-index: 3;
}

/* #all_tags_pop_up{
  display: none;
  position: relative;
  background-color: #D9D9D9;
  width: 31%;
  height: 100%;
  z-index: 5;
  left: calc(-1%);
  z-index: 3;
} */

.tag_pop_up{
  overflow-y: scroll;
}

.highlights{
  margin-top: 5em;
}

.highlights_text{
  text-align: center;
  font-size: 40px;
  font-family: "Prociono", sans-serif;
  margin-bottom: 3rem;
}

.video_highlights{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.video {
  display: flex;
  margin: 1rem;
  flex-direction: column;
  align-items: center;
  width: 400px;
}

.video_thumbnail{
  margin-bottom: 1rem;
}

.video_text {
  align-self: start;
  margin-bottom: 3%;
  font-family: "Sintony", sans-serif;
}