/* General styling across all pages.  */

/* Importing EB Garamond */
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');
/* Importing Open Sans */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root{
  --color-light: 253 26 93;
  --color-light-dark: 260 12 91;
  
  --color-dark: 258 15 13;
  
  --color-grey: 255 10 84;
  
  
  --color-red: 11 56 47;
  --color-red-dark: 11 58 43;
  
  --color-yellow: 39 57 48;
  --color-yellow-dark: 39 59 45;
  
  /*--color-green: 122 37 39;*/
  --color-green: 107 32 42;
  --color-green-dark: 107 35 38;
  
  --color-blue: 211 41 43;
  --color-blue-dark: 210 39 40;
  
  --color-purple: 291 31 44;
  --color-purple-dark: 291 33 40;
  
  --color-pink: 344 48 48;
  --color-pink-dark: 344 50 45;
}

body {
  
  margin: 0;
  padding: 0;
  padding-top: 50px;
  background-color: hsl(var(--color-light));
  line-height: 1.5;
  min-height: 100vh;
/*   border-style: solid;
  border-color: black; */
}

a {
  color: hsl(var(--color-blue-dark));
  cursor: pointer;
}

p { 
  font-family: "Sitony", sans-serif;
/*   color: hsl(var(--color-dark)); */
}

h1 { 
  color: black;
  font-family: "Prociono", serif;
  text-align: center;
  max-width: 55em;
  font-size: 60px;
}

button { 
  cursor: pointer;
  background: none;
  border: none;
  padding: 0;
  transition: transform 0.4s ease;
/*   font-weight: normal;
  transition: font-weight 0.4s ease; */
}

button:hover {
  transform: translatey(-2px);  
/*   font-weight: bold; */
}